@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --padx: 2em;
    --pady: 0.8em;
    --accent: #6d1e6d;
    --hov: #6d1e6dce;
    --bg: #f5f5f5;
}


@font-face {
    font-family: "lora";
    src: url("../src/assets/PlayfairDisplay-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("../src/assets/Roboto-Regular.ttf");
    font-display: swap;
}

.lora {
    font-family: lora;
}

.roboto {
    font-family: roboto;
}

.background {
    background-image: url("../src//assets/image.png");
    background-size: cover;
    background-position: bottom;
}

.text {
    text-shadow: 0px 0px 2px black;
}
